*{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.icon{
    color: black;
    margin: 0 10px;
}
.top_1{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #ff8e03eb;
    color: white;
    margin-bottom: 40px;
    border-bottom: 1px solid #bbbbbb;
}
.top_1 p{
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/*---------nav--------*/
.mainNav .namozag{
    margin: 0px;
    box-shadow: rgb(84 84 84 / 22%) 0px 1px 5px 0px;
    border-radius: 9px;
    padding: 5px 10px;
}
.mainNav{
    padding: 2px;
    border-bottom: 2px solid #e1e1e1;
    z-index: 99;
    box-shadow: rgb(86 86 86 / 22%) 0px 1px 8px 0px;
}
.nav1{
    padding: 5px 12px;
}
.mainNav .button{
    padding: 10px 0px;
    margin: 20px 0;
    font-size: 12px;
}
.mainNav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0 5px 0 0;
    padding: 0px;
}
/*---------main-----------*/
.sidebar {
    height: 100%;
    position: fixed;
    right: 0px;
    background-color: #f8f9fa;
    box-shadow: rgb(52 52 52 / 35%) 0px 1px 5px 0px;
    display: block;
    z-index: 99;
    border-left: 1px solid #bbbbbb;
}
ul{
    display: inline-block;
    margin-top: 45px;
}
a{
    text-decoration: none;
}
.button{
    display: inline-block;
    padding: 10px 0px;
    margin: 20px;
    background-color: #ffb606;
    border-radius: 9px;
    box-shadow: rgb(28 28 28 / 37%) 1px 1px 3px 1px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    border: 1px solid white;
    text-align: start;
}
:target{
    color: #ffb606 ;
    background-color: #fff;
    transition: 0.5s ease-in-out;
}
/*----------mob------------*/
@media (max-width: 768px) {   
    .sidebar{
        font-weight: bold;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        display: none;
    }
    .button{
        padding: 5px 2px 5px 0;
        margin: 15px 2px;
        font-size: 12px;
    }
    .top_1 p{
        font-size: 16px;
    }
    #close{
        background: none;
        border: none;
        margin-right: 10px;
    }
    .closeIcon{
        font-size: 20px;
        color: white;
    }
    .mainMenu{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        margin: 5px;
    }
    /*---------background--------*/
    .background{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #000000aa;
        z-index: 999;
    }
}
/*--------Pc--------------*/
@media (min-width: 768px) { 
    #close{
        display: none;
    }
    .top_1{
        justify-content: center;
        margin-bottom: 0px;
    }
    .button:target:before{
        left: -75px;
        transition: 0.8s;
    }
    .button::before{
        content: " ";
        position: absolute;
        left: -45px;
        top: 50%;
        border: 15px solid;
        border-color: transparent #ffb606  transparent transparent;
        margin-top: -15px;
        transition: 1.2s;
    }
    @media (max-width: 992px) {
        .button::before{
            left: -45px;
        }
        .button:target:before{
            left: -65px;
            transition: 0.8s;
        }
    }
    .icon{
        font-size: 18px;
        }
}
/*---------content-------------*/
.viewport{
    display: flex;
    justify-content: center;
}
h2{
/*    margin-right: -500%;*/
    padding: 12px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    box-shadow: #9f9f9f59 0px 1px 3px 2px;
    font-weight: bold;
    transition: 0.8s;
}
.hed{
    text-align: center;
}
.viewport p{
    font-size: 18px;
    margin: 10px;
}
#secsion_2,#secsion_3,#secsion_4,#secsion_5{
    display: none;
}
/*-------Button Botton--------*/
.form{
    text-align: center;
    margin: 50px 0;
}
.content a{
    border: 2px solid #9b9b9b6e;
    position: relative;
    display: inline-block;
    border-radius: 9px;
    padding: 10px 15px;
    color: black ;
    text-decoration: none;
    overflow: hidden;
    margin-top: 15px;
    text-align: center;
    box-shadow: rgb(84 84 84 / 22%) 0px 1px 5px 0px;
    transition: 0.3s;
}
spam{
    font-weight: bolder;
    font-size: 18px; 
}
.content span{
    position: absolute;
    display: block;
}
.content a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(1){
    left: 100%;
    transition: 2s;
}
.content a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(3){
    right: 100%;
    transition: 2s;
}
.content a span:nth-child(2){
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(2){
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.content a span:nth-child(4){
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(4){
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.content a:hover{
    color: white;
    background-color: #ffb606;
    box-shadow: rgb(84 84 84 / 22%) 0px 1px 5px 0px;
    transition-delay: 0.5s;
}
.content li{
    font-size: 16px;
    padding: 15px;
    list-style-type: square;
}
.text span{
    position: inherit;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

