*{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.icon{
    color: black;
    margin-left: 10px;
}
/*----------mob------------*/
.mainNav .namozag{
    margin: 0px;
    box-shadow: rgb(84 84 84 / 22%) 0px 1px 5px 0px;
    border-radius: 9px;
    padding: 5px 10px;
}

.mainNav{
    padding: 2px;
    border-bottom: 2px solid #e1e1e1;
}
.nav1{
    padding: 5px 12px;
}
.mainNav .button{
    text-align: center;
    padding: 10px 5px;
    margin: 20px 0;
    font-size: 14px;
}
.mainNav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
/*--------Pc--------------*/
.sidebar {
    height: 100%;
    position: fixed;
    right: 0px;
    background-color: #f8f9fa;
    box-shadow: rgb(52 52 52 / 35%) 0px 1px 5px 0px;
}
ul{
    display: inline-block;
    margin-top: 45px;
}
a{
    text-decoration: none;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: #ffb606;
    border-radius: 9px;
    box-shadow: rgb(28 28 28 / 37%) 1px 1px 3px 1px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    border: 1px solid white;
    text-align: start;
}
:target{
    color: #ffb606 ;
    background-color: #fff;
    transition: 0.5s ease-in-out;
}
@media (min-width: 768px) {   
    .button:target:before{
        left: -75px;
        transition: 0.8s;
    }
    .button::before{
        content: " ";
        position: absolute;
        left: -45px;
        top: 50%;
        border: 15px solid;
        border-color: transparent #ffb606  transparent transparent;
        margin-top: -15px;
        transition: 1.2s;
    }
    @media (max-width: 992px) {
        .button::before{
            left: -45px;
        }
        .button:target:before{
            left: -65px;
            transition: 0.8s;
        }
    }
    .icon{
        font-size: 18px;
        }
}
/*---------content-------------*/
.viewport{
    display: flex;
    justify-content: center;
}
h2{
    padding: 12px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    box-shadow: #ffb60659 0px 1px 3px 2px;
    font-weight: bold;
}
.hed{
    text-align: center;
}
.viewport p{
    font-size: 18px;
    margin: 10px;
}
#secsion_2,#secsion_3,#secsion_4,#secsion_5{
    display: none;
}
/*-------Button Botton--------*/
.form{
    text-align: center;
    margin: 50px 0;
}
.content a{
    position: relative;
    display: inline-block;
    border-radius: 9px;
    padding: 10px 15px;
    color: black ;
    text-decoration: none;
    overflow: hidden;
    margin-top: 15px;
    text-align: center;
    box-shadow: rgb(84 84 84 / 22%) 0px 1px 5px 0px;
    transition: 0.3s;
}
spam{
    font-weight: bolder;
    font-size: 18px; 
}
.content span{
    position: absolute;
    display: block;
}
.content a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(1){
    left: 100%;
    transition: 2s;
}
.content a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(3){
    right: 100%;
    transition: 2s;
}
.content a span:nth-child(2){
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(2){
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.content a span:nth-child(4){
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(4){
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.content a:hover{
    color: white;
    background-color: #ffb606;
    box-shadow: rgb(84 84 84 / 22%) 0px 1px 5px 0px;
    transition-delay: 0.5s;
}





