*{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-size: 16px;
    font-family: 'arabic';
}
@media (max-width: 576px){
    .mainNav .button{
        font-size: 14px;
    }
}
header{
    box-shadow: 0px 1px 5px 1px rgb(86 86 86 / 22%) !important;
}
.iconNav{
    font-size: 25px;
    padding: 0px 10px;
}
ul{
    margin: 0px;
}
.icon{
    color: black;
    margin: 0 10px;
}
.top_1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.top_2{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #ffb606;
    color: white;
    margin-bottom: 40px;
    border-bottom: 1px solid #9e9e9e;
}
.top_2 p,.top_1 p{
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/*---------nav--------*/
.mainNav .namozag{
    margin: 0;
    border-radius: 9px;
    padding: 5px 10px;
}
button#openMenu {
}
.mainNav{
    background-color: #ffb606 !important;
    padding: 2px;
    border-width: 2px 0 1px 0;
    border-color: #ff9800;
    border-style: solid;
    box-shadow: rgb(255 182 6 / 28%) 0px 7px 5px 1px;
}
.nav1{
    padding: 5px 3%;
}
.mainNav .button{
    padding: 10px 0px;
    margin: 20px 0;
}
.mainNav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0 5px 0 0;
    padding: 0px;
}
/*---------main-----------*/
.all{
    display: flex;
}
.sidebar {
    background-color: #f8f9fa;
    box-shadow: rgb(52 52 52 / 35%) -1px 5px 5px 0px;
    border-left: 1px solid #9e9e9e;
    z-index: 999;
}
.mainMenu{
    display: inline-block;
    margin-top: 55px;
}
a{
    text-decoration: none;
}
.button{
    display: inline-block;
    padding: 10px 0px;
    margin: 20px;
    background-color: #ffb606;
    border-radius: 9px;
    box-shadow: rgb(131 131 131 / 37%) 0px 1px 3px 1px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    border: 1px solid #ff9800;
    text-align: start;
}
:target{
    color: #ffb606 ;
    background-color: #fff;
    transition: 0.5s ease-in-out;
}
/*----------mob------------*/
@media (max-width: 1200px) {
    .viewport{
        padding: 0 10px !important;
    }
    .sidebar{
        overflow-y: scroll;
        overflow-x: hidden;
        font-weight: bold;
        height: 100%;
        position: fixed;
        top: 0;
        right: -500px;
        z-index: 9999;
        transition: 1.0s ease;
    }
    .button{
        padding: 5px 2px 5px 0;
        margin: 15px 2px;
/*        font-size: 12px;*/
    }
    .top_2 p{
        font-size: 20px;
    }
    #close{
        background: none;
        border: none;
        margin-right: 10px;
    }
    .closeIcon{
        font-size: 24px;
        color: white;
    }
    .mainMenu{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        margin: 5px;
    }
    /*---------background--------*/
    .background{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #000000aa;
        z-index: 999;
    }
}
/*--------Pc--------------*/
@media (min-width: 1200px) { 
    #close{
        display: none;
    }
    .top_2{
        justify-content: center;
        margin-bottom: 0px;
    }
    .button:target:before{
        left: -75px;
        transition: 0.8s;
    }
    .button::before{
        content: " ";
        position: absolute;
        left: -45px;
        top: 50%;
        border: 15px solid;
        border-color: transparent #ffb606  transparent transparent;
        margin-top: -15px;
        transition: 1.2s;
    }
    @media (max-width: 992px) {
        .button::before{
            left: -45px;
        }
        .button:target:before{
            left: -65px;
            transition: 0.8s;
        }
    }
    .icon{
        font-size: 18px;
    }

}
@media (min-width: 992px){
.navbar-expand-lg .navbar-toggler {
    display: block !important;
    }
}
/*---------content-------------*/
.viewport{
    display: flex;
    justify-content: center;
    padding: 0 75px;
}
h2{
    padding: 12px 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    box-shadow: #9f9f9f59 0px 1px 3px 2px;
    font-weight: bold;
    transition: 0.8s;
}
.hed{
    text-align: center;
}
.viewport p{
    font-size: 18px;
    margin: 10px;
}
#secsion_2,#secsion_3,#secsion_4,#secsion_5{
    display: none;
}
/*-------Button Botton--------*/
.form{
    text-align: center;
    margin: 50px 0;
}
.content a{
    border: 2px solid #ff9800;
    position: relative;
    display: inline-block;
    border-radius: 9px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    overflow: hidden;
    margin-top: 15px;
    text-align: center;
    box-shadow: rgb(84 84 84 / 22%) 0px 1px 5px 0px;
    transition: 0.3s;
    background-color: #ffb606;
}
spam{
    font-weight: bolder;
    font-size: 18px; 
}
.content span{
    position: absolute;
    display: block;
}
.content a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(1){
    left: 100%;
    transition: 2s;
}
.content a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(3){
    right: 100%;
    transition: 2s;
}
.content a span:nth-child(2){
    top: -100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(2){
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.content a span:nth-child(4){
    bottom: -100%;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(213, 6, 6));
}
.content a:hover span:nth-child(4){
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.content a:hover{
    color: black;
    background-color: white;
    box-shadow: rgb(84 84 84 / 22%) 0px 1px 5px 0px;
    transition-delay: 0.5s;
}
.content li{
    font-size: 16px;
    padding: 15px;
    list-style-type: square;
}
.text span{
    position: inherit;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}
.namozag{
    background-color: white;
    border: 1px solid #9e9e9e;
}










